@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-WOL.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Bold-WOL.woff") format("woff");
    font-weight: bold;
}

@import 'variables';
@import '~bootstrap-v4-rtl/scss/bootstrap-rtl';
@import '~summernote/dist/summernote-bs4.css';
@import '~flickity';

html, body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    background-image: url("../img/bg.png");
    display: flex;
    flex-direction: column;
}

.eng-font {
    font-family: "Nunito", sans-serif !important;
    direction: ltr !important;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $danger;
        text-decoration: none;
    }
}

.text-white {
    a {
        color: $white !important;
    }
}

.nice-scroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
}

.embed-video iframe {
    border: none !important;
}

.comment-users {
    img {
        padding: 2px;
        border-width: 2px !important;
    }
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 180px;
    overflow: hidden;

    .title {
        font-size: 60px;
        font-family: Metal Mania, cursive !important;
        letter-spacing: 3px;
        display: block;
    }

    .slogan {
        font-size: 18px;
        margin-top: -17px;
        display: block;
    }
}

.updates-list {
    a {
        color: $danger;
        &:hover {
            text-decoration: underline;
        }
    }

    .update-body {
        text-align: start;
        unicode-bidi: plaintext;
    }

    .index-update-comment-body {
        font-size: 90% !important;
    }
}

.articles {
    .carousel-caption {
        left: 0 !important;
        right: 0 !important;
    }

    .carousel-caption-title {
        background: rgba(0, 0, 0, .8);
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.35rem !important;
        }
    }

    .article-title {
        line-height: 2rem;
        font-size: 1rem;
        @include media-breakpoint-up(lg) {
            font-size: 1.35rem !important;
        }
    }
}

.main-carousel {
    width: 100%;
    height: 250px;
    counter-increment: carousel-cell;
}


.carousel-cell {
    width: 320px;
    margin-right: 10px;
}

.card-body img {
    max-width: 100% !important;
}

.home-cards {
    .card-title {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0.6rem;
        background: rgba(0, 0, 0, .8);
        color: $white;
        font-weight: bold;
        font-size: 1rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.15rem !important;
        }

        a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}

.article {
    .card-overlay .card-title {
        bottom: 0;
        padding: 1rem;
        background: rgba(0, 0, 0, .62);
    }

    .card-text {
        font-size: 1.05rem;
        line-height: 1.9rem;
        text-align: justify;

        p {
            margin: 0 !important;
        }
    }
}

h1.card-title {
    @include media-breakpoint-down(sm) {
        font-size: 1.2rem !important;
    }
}

.comment-box {
    .username {
        top: -1px;
        width: 180px;
        right: -6px;
        padding: 0.65rem 0.5rem;
        @include border-top-right-radius(10px);
    }

    .reaction-box {
        padding: 2px 4px;
        background: #efefef;
        border: 2px solid #888e92;
        @include border-radius(10px);
    }

    .comment-body {
        white-space: pre-line;
        line-height: 1.9rem;
        margin-bottom: 0 !important;
    }
}

@each $type, $color in $username-colors {
    .username-#{$type} {
        background-color: #{$color};
    }
}

.emojies {
    left: 0;
    bottom: 35px;
    width: 185px;
    background: #eaeaea;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.clearfix {
    clear: both;
}

blockquote {
    border-right: 7px solid #b94747 !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    font-weight: 600 !important;
    color: #692f2f !important;

    @extend .mx-2;
    @extend .mx-md-3;
    @extend .mx-lg-4;

    i {
        color: #847979;
    }

    .fa-quote-right {
        margin-left: 8px;
    }

    .fa-quote-left {
        margin-right: 8px;
    }
}

.fixture-menu-logo {
    width: 70px;

    @include media-breakpoint-up(md) {
        width: 100px;
    }
}

.fixture-menu-logo-compact {
    width: 50px !important;
}

.team-name {
    font-size: $h5-font-size;

    @include media-breakpoint-up(md) {
        font-size: $h4-font-size;
    }
}

.bottom-menu {
    background: #292f35;

    @media (max-width: 410px) {
        a, span {
            font-size: 85% !important;
        }
    }
}

footer {
    width: 100%;
    bottom: 0;

    a {
        color: $white;

        &:hover {
            color: $warning !important;
        }
    }

    li {
        margin-bottom: $spacer - 0.5;
    }

    .logo {
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        font-family: 'Metal Mania', cursive !important;
    }
}
